{% extends 'base.html.twig' %}

{% block title %}Accueil - {{ parent() }}{% endblock %}

{% block body %}

    <div class="flex gap-6 justify-center">

        {% if app.user %}
            <div class="flex-column justify-center w-2/5 h-2/5">

                <div class="max-w-sm rounded-lg">

                    <a href="{{ path('app_member_profil', { 'id' : app.user.id }) }}">
                        {% if app.user.picture %}
                            <img
                            class="rounded-full bg-white border-solid border-4 border-blue-400 shadow-lg"
                            src="{{ app.user.picture }}"
                            alt="{{ app.user.name }}" />
                        {% else %}
                            <img
                            class="rounded-full bg-white border-solid border-4 border-blue-400 shadow-lg"
                            src="https://cdn-icons-png.flaticon.com/512/149/149071.png?w=826&t=st=1679671302~exp=1679671902~hmac=81d998f23c51fabe479ff1108e301d2333070c97c828f6cba895fed5e8f52b41"
                            alt="{{ app.user.name }}" />
                        {% endif %}
                        
                    </a>

                    <div class="p-6">
                        <h2 class="mb-2 text-3xl font-medium font-bold leading-tight text-neutral-800 text-center">
                            Bonjour {{ app.user.name }}, comment vas-tu?
                        </h2>
                        
                    </div>
                </div>
            </div>
        {% endif %}
        

        <div class="w-3/5">
            {% for post in posts %}

                <div class="rounded-lg flex mb-6 bg-white shadow-lg">
                    <div class="w-1/6 p-6">
                        {% if post.user.picture %}
                            <img class="rounded-full border" 
                            src="{{ post.user.picture }}" 
                            alt="{{ post.user.pseudo }}">
                        {% else %}
                            <img class="rounded-full border" 
                            src="https://cdn-icons-png.flaticon.com/512/149/149071.png?w=826&t=st=1679671302~exp=1679671902~hmac=81d998f23c51fabe479ff1108e301d2333070c97c828f6cba895fed5e8f52b41" 
                            alt="{{ post.user.pseudo }}">
                        {% endif %}
                        
                    </div>
                    <div class="w-5/6 flex p-6">
                        <div>
                            <div class="flex items-center">
                                <h5 class="mb-2 text-xl font-medium leading-tight text-neutral-800">
                                {{ post.user.name}}
                                </h5>
                                <p class="ml-2 text-sm text-slate-400">Il y a 
                                {{ ((date('now')|date('U') - post.createdAt|date('U'))/ (24 * 60 * 60))|round(0, 'floor') }}
                                {{ ((date('now')|date('U') - post.createdAt|date('U'))/ (24 * 60 * 60))|round(0, 'floor') < 2 ? 'jour' : 'jours' }}
                                </p>
                            </div>
                            <p class="mb-4 text-base text-neutral-600">
                            {{ post.content }}
                            </p>
                        </div>
                    </div>
                </div>
                
            {% endfor %}
        </div>

    </div>
{% endblock %}
