{% extends "base.html.twig" %}

{% block title %}User Modification - {{ parent() }}{% endblock %}

{% block body %}

<div class="flex gap-6">

    <div class="flex-column justify-center w-2/5 h-2/5">

        <div class="max-w-sm rounded-lg bg-white shadow-lg">
            <a href="#!">
                <img
                    class="rounded-t-lg"
                    src="{{ user.picture }}"
                    alt="{{ user.name }}" />
            </a>
            <div class="p-6">
                <h5
                    class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50">
                    {{ user.name }}
                </h5>
                <p class="mb-4 pb-2 text-base text-neutral-600 dark:text-neutral-200 border-b-2">
                    Né(e) le {{ user.birthdate|date('d/m/Y') }} <span>({{ date('now')|date('Y') - user.birthdate|date('Y') }} 
                        {{ date('now')|date('Y') - user.birthdate|date('Y') < 2 ? 'an' : 'ans' }})</span>
                </p>
                <p class="mb-4 pb-2 text-base text-neutral-600 dark:text-neutral-200 border-b-2">
                    <strong>Email:</strong> {{ user.email }} 
                </p>
                <p class="mb-4 pb-2 text-base text-neutral-600 dark:text-neutral-200">
                    <strong>Biographie :</strong> <br>{{ user.biography }} 
                </p>
            </div>
        </div>

        {% if app.user.id == user.id %}
        
            <div class="flex-column text-center items-center">
                <a href="{{ path('app_member_profil', { 'id' : app.user.id }) }}" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-1 px-2 mt-2 rounded-lg inline-block w-1/2">Retour</a>
                <a href="{{ path('app_logout') }}" class="bg-red-500 hover:bg-red-700 text-white font-bold py-1 px-2 mt-2 rounded-lg inline-block w-1/2">Déconnexion</a>
            </div>

        {% endif %}

    </div>

    <div class="bg-white w-3/5 mx-auto px-20 py-10 rounded-lg">
    
        <h2 class="text-center text-bold text-xl mb-6">Modifier le profil</h2>

        {{ form_start(form) }}

            {{ form_widget(form) }}

            <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-1 px-2 rounded text-center text-lg block w-full">Valider</button>
        
        {{ form_end(form) }}

    </div>
    
</div>

{% endblock %}