{% extends "base.html.twig" %}

{% block title %}Profil - {{ parent() }}{% endblock %}

{% block body %}

<div class="flex gap-6">

    <div class="flex-column justify-center w-2/5 h-2/5">

        <div class="max-w-sm rounded-lg bg-white shadow-lg">
            <div>
                {% if user.picture %}
                    <img
                    class="rounded-t-lg"
                    src="{{ user.picture }}"
                    alt="{{ user.name }}" />
                {% else %}
                    <img
                    class="rounded-t-lg"
                    src="https://cdn-icons-png.flaticon.com/512/149/149071.png?w=826&t=st=1679671302~exp=1679671902~hmac=81d998f23c51fabe479ff1108e301d2333070c97c828f6cba895fed5e8f52b41"
                    alt="{{ user.name }}" />
                {% endif %}
            </div>            
        
            <div class="p-6">
                <h5
                    class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50">
                    {{ user.name }}
                </h5>
                <p class="mb-4 pb-2 text-base text-neutral-600 dark:text-neutral-200 border-b-2">
                    Né(e) le {{ user.birthdate|date('d/m/Y') }} <span>({{ date('now')|date('Y') - user.birthdate|date('Y') }} 
                        {{ date('now')|date('Y') - user.birthdate|date('Y') < 2 ? 'an' : 'ans' }})</span>
                </p>
                <p class="mb-4 pb-2 text-base text-neutral-600 dark:text-neutral-200 border-b-2">
                    <strong>Email:</strong> {{ user.email }} 
                </p>
                <p class="mb-4 pb-2 text-base text-neutral-600 dark:text-neutral-200">
                    <strong>Biographie :</strong> <br>{{ user.biography }} 
                </p>
            </div>
        </div>

        {% if app.user.id == user.id %}
        
            <div class="flex-column text-center items-center">
                <a href="{{ path('app_member_edit', {'id' : app.user.id }) }}" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-1 px-2 mt-2 rounded-lg inline-block w-1/2">Modifier</a>
                <a href="{{ path('app_logout') }}" class="bg-red-500 hover:bg-red-700 text-white font-bold py-1 px-2 mt-2 rounded-lg inline-block w-1/2">Déconnexion</a>
            </div>

        {% endif %}
        
    </div>

    <div class="w-3/5">

        {% if app.user.id == user.id %}

            <div class="w-full mb-6">

                {{ form_start(form) }}
                    
                    {{ form_row(form.content, { attr: { class: 'w-full' }}) }}

                    <button class="w-full bg-blue-500 hover:bg-blue-700 text-white text-center font-bold py-1 px-2 rounded-lg inline-block w-1/2">Ajouter</button>

                {{ form_end(form) }}  

            </div>

        {% endif %}
        

        {% for post in user.posts|sort((a, b) => b.createdAt.timestamp() - a.createdAt.timestamp()) %}

            <div class="rounded-lg flex mb-6 bg-white shadow-lg">
                <div class="w-1/6 p-6">
                    {% if post.user.picture %}
                        <img class="rounded-full border" src="{{ user.picture }}" alt="{{ user.pseudo }}">
                    {% else %}
                        <img class="rounded-full border" src="https://cdn-icons-png.flaticon.com/512/149/149071.png?w=826&t=st=1679671302~exp=1679671902~hmac=81d998f23c51fabe479ff1108e301d2333070c97c828f6cba895fed5e8f52b41" alt="{{ user.pseudo }}">
                    {% endif %}
                </div>
                <div class="w-5/6 flex p-6">
                    <div>
                        <h5 class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50">
                        {{ user.name}}
                        </h5>
                        <p class="mb-4 text-base text-neutral-600 dark:text-neutral-200">
                        {{ post.content }}
                        </p>
                    </div>
                </div>
            </div>
            
        {% endfor %}
    </div>

</div>

{% endblock %}