{% extends "base.html.twig" %}

{% block title %}Profil - {{ parent() }}{% endblock %}

{% block body %}

<div class="flex justify-center">
    <div
        class="block max-w-sm rounded-lg bg-white shadow-lg dark:bg-neutral-700">
        <a href="#!">
        <div class="flex justify-center">
            {% if user.picture %}
                <img
                    class="w-1/2 rounded-t-lg"
                    src="{{user.picture}}"
                    alt="{{user.name}}" />
            {% else %}
                <img
                    class="w-1/2 rounded-t-lg"
                    src="https://cdn-icons-png.flaticon.com/512/149/149071.png?w=826&t=st=1679671302~exp=1679671902~hmac=81d998f23c51fabe479ff1108e301d2333070c97c828f6cba895fed5e8f52b41"
                    alt="{{user.name}}" />
            {% endif %}
            
        </div>
        </a>
        <div class="p-6 bg-gray-200 rounded">
        <h5
            class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50">
            {{user.name}} 
            <span>({{ date('now')|date('Y') - user.birthdate|date('Y') }} 
            {{ date('now')|date('Y') - user.birthdate|date('Y') < 2 ? 'an' : 'ans' }})
            </span>
        </h5>
        <p>{{ user.posts|length }} {{ user.posts|length < 2 ? 'publication' : 'publications' }}</p>
        <a href="{{ path('app_member_show', { 'id' : user.id }) }}" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-1 px-2 rounded text-center text-lg block w-full">Voir profil</a>
        </div>
    </div>
</div>

{% endblock %}